*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    width: 100%;
    height: 75px;
    line-height: 100px;
    padding: 0px 100px;
    position: fixed;
    background-image: linear-gradient(#033747,#012733);
  
}
nav .logo p{
    font-size: 60px;
    font-weight: bold;
    position: fixed;
    float: left;
    color: aliceblue;
    letter-spacing: 1.5px;
    cursor: pointer;
    font-style:initial;
    left: 20px;
    width: 200px;
  

}
.logo span{
    color: rgba(9, 119, 215, 0.96);
    font-size: 30px;
}
nav ul{
    float: right;
}
nav li{
    display: inline-block;
    list-style: none;
}
nav li a{
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 20px;
    color: aliceblue;
    text-decoration: none ;
}
nav li a:hover{
    color: #f05d1e;
    transition: all 0.1s ease 0.2s;
}
.content-item img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: flex;
    background-size: cover;
    background-position: center;
}

